<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registry</title>
  <!-- Link to Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Link to your custom CSS -->
  <link rel="stylesheet" href="/public/css/jass.css">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1>
      User Registry
    </h1>
    <!-- Only display the logout button if the user is logged in -->
    {{#if logged_in}}
    <nav>
      <button class="btn" id="logout">logout</button>
    </nav>
    {{/if}}
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
    <!-- Your footer content here -->
  </footer>

  <!-- Include jQuery library -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <!-- Include Bootstrap JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- Include your custom JavaScript -->
  <script src="/public/js/logout.js"></script>
  
  <!-- Include any other necessary scripts for displaying blog posts and comments -->
</body>

</html>