{{!-- views/new-post.handlebars --}}
<form action="/post/new" method="POST">
  <input type="text" name="title" placeholder="Title">
  <textarea name="content" placeholder="Content"></textarea>
  <button type="submit">Create Post</button>
</form>